<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="country" class="nav-link">Country</a></li>
        <li class="nav-item"><a routerLink="city" class="nav-link active">City</a></li>
        <li class="nav-item"><a routerLink="branch" class="nav-link">Branch</a></li>
        <li class="nav-item"><a routerLink="category" class="nav-link">Category</a></li>
        <li class="nav-item"><a routerLink="customer" class="nav-link">CustomerInfo</a></li>
        <li class="nav-item"><a routerLink="transaction" class="nav-link">Transaction</a></li>
      </ul>
    </header>
  </div>
  <!--
  <app-country></app-country>
  <app-city></app-city>
  <app-branch></app-branch>
  <app-category></app-category>
  <app-customerinfo></app-customerinfo>
  <app-transaction></app-transaction>
  -->