<header id="#HomeSection">
    <a href="#" class="logo">
        <img src="../../../assets/logo1.png">
        <h1>BusyCart</h1>
        <!-- <sub class="mat-subheading-2">Milestone on your digital path</sub> -->
    </a>
    <input type="checkbox" id="check">
        <label for="check">
            <img src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg" class="img1">
            <img src="https://1.bp.blogspot.com/-7FrNzRkSTfA/YVmBmBWPd1I/AAAAAAAABBA/7ddyu0cIswgmBH3FCqUAuOnCU6Rq5bgbgCLcBGAsYHQ/s0/menu2.png" class="img2">
        </label>
    <div class="links">
        <div>
          <a href="#">Home</a>
          <a routerLink="aboutUs">About us</a>
          <a routerLink="products">Products</a>
          <a routerLink="login">login</a>
        </div>
      </div>
</header>
