<!--    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt = "about image">
              </div>
            </div>

            <h2>Learning Robo</h2>
            <h3>Web developer</h3>
          </div>

          <ul class = "icons">
            <li><i class = "fab fa-facebook-f"></i></li>
            <li><i class = "fab fa-twitter"></i></li>
            <li><i class = "fab fa-linkedin"></i></li>
            <li><i class = "fab fa-instagram"></i></li>
          </ul>
        </div>
        
      </div>

      <div class = "about-right">
        <h1>Hello<span>!</span></h1>
        <h2>Here's who I am & what I do</h2>
        <div class = "about-btns">
          <button type = "button" class = "btn btn-pink">resume / CV</button>
          <button type = "button" class = "btn btn-white">Git hub</button>
        </div>


        <div class = "about-para">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aspernatur possimus ullam quaerat, laboriosam ex voluptate aliquid laborum, obcaecati ratione accusamus! Ea nisi modi dolor nam numquam? Temporibus, molestias amet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iure tempora alias laudantium sapiente impedit!</p>
        </div>
        <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div>
      </div>
    </div>
 

-->
<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Busy Cart sells electronics Products to other Businesses and distributors. It is a B2B company. The company currently has 10 offices in the India(Banglore as headquater,Noida,Chennai,Mumbai,Hyderabad,Jaipur,Pune,Coimbatore,Delhi,Patna) and have been selling Electronics Products in other countries also, like US, UK and Australia through online sales on its website. The fulfilment of delivery is done by local distribution centers.The company is planning to expand by establishing new offices because the sales growth in these countries has been increasing over the last 3 years.        </p>
        <div class="skills">
            <span>Web Design</span>
            <span>Photoshop & Illustrator</span>
            <span>Coding</span>
        </div>
    </div>
</div>